<div *ngIf="activeEvents.length; else noActiveEvents">
    <p>Aktivni događaji:</p>
    <ul *ngFor="let activeEvent of activeEvents">
        <li >              
            {{activeEvent.name}}
        </li>
    </ul>
</div>
<ng-template #noActiveEvents>
    <p>Nema aktivnih događaja</p>
    <button
        (click)="onClick()"
    >
        + Kreiraj novi događaj
    </button>
</ng-template>
<div>
    <p>Završeni događaji:</p>
    <ul *ngFor="let inactiveEvent of inactiveEvents">
        <li >              
            {{inactiveEvent.name}}
        </li>
    </ul>
</div>
