<div *ngIf="tournament" style="margin-top: 50px; text-align: center;">
  <div class="tableDiv" *ngIf="tournament">
    <table>
      <thead class="theadP">
        <tr>
          <th colspan="2">Plava grupa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of tournament.groups[0].players; index as i">
          <th class="theadP">P{{ i + 1 }}</th>
          <td ><span #P [style.display]="showPlayerName[i*tournament.groups.length] ? 'block' : 'none'">{{player.name}}</span></td>
          <audio #PAudio type="audio/mpeg"  [src]="getAudioUrl(player.nameAudioFile)" [muted]="false"></audio>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tableDiv" *ngIf="tournament.groups[1]">
    <table>
      <thead class="theadC">
        <tr>
          <th class="theadC" colspan="2">Crvena grupa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of tournament.groups[1].players; index as i">
          <th class="theadC">C{{ i + 1 }}</th>
          <td ><span #C [style.display]="showPlayerName[i*tournament.groups.length+1] ? 'block' : 'none'">{{player.name}}</span></td>
          <audio #CAudio type="audio/mpeg"  [src]="getAudioUrl(player.nameAudioFile)"  [muted]="false"></audio>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tableDiv" *ngIf="tournament.groups[2]">
    <table>
      <thead class="theadZ">
        <tr>
          <th class="thZ" colspan="2">Zelena grupa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of tournament.groups[2].players; index as i">
          <th class="theadZ">Z{{ i + 1 }}</th>
          <td ><span #Z [style.display]="showPlayerName[i*tournament.groups.length+2] ? 'block' : 'none'">{{player.name}}</span></td>
          <audio #ZAudio type="audio/mpeg"  [src]="getAudioUrl(player.nameAudioFile)"  [muted]="false"></audio>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tableDiv" *ngIf="tournament.groups[3]">
    <table>
      <thead class="theadS">
        <tr>
          <th class="thS" colspan="2">Siva grupa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of tournament.groups[3].players; index as i">
          <th class="theadS">S{{ i + 1 }}</th>
          <td ><span #S [style.display]="showPlayerName[i*tournament.groups.length+3] ? 'block' : 'none'">{{player.name}}</span></td>
          <audio #SAudio type="audio/mpeg"  [src]="getAudioUrl(player.nameAudioFile)"  [muted]="false"></audio>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="announceFinished">

  </div>
</div>
